@import url("global.css");

.hero-section {
    text-align: center;
    padding: 60px 20px;
    color: var(--text-main-light);
    animation: slideUpFade 1s ease-out;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.2rem;
    color: var(--text-muted-light);
}


.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: stretch; 
    gap: 35px;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto 60px auto;
}

.contact-info, .contact-form {
    background-color: var(--color-surface-light);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px var(--shadow-soft);
    flex: 1; 
    min-width: 320px;
    animation: slideUpFade 1s ease-out forwards;
}


.contact-info h1, .contact-form h1 {
    color: var(--text-main-dark);
    margin-bottom: 30px;
    font-size: 1.8rem;
    border-bottom: 2px solid var(--border-light);
    padding-bottom: 10px;
}

.info-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 25px;
}

.info-item .material-symbols-outlined {
    background: var(--color-primary);
    color: var(--color-surface-light);
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
}

.info-item h3 {
    margin: 0;
    font-size: 1.1rem;
    text-align: left;
}

.info-item p {
    margin: 5px 0 0 0;
    color: var(--text-muted-dark);
}


.input-group {
    margin-bottom: 20px;
}

.contact-form label {
    font-size: 0.9rem;
    color: var(--border-dark);
    margin-bottom: 8px;
}

.contact-form input, .contact-form textarea {
    background-color: var(--color-input-bg);
    border: 1px solid var(--border-light);
    padding: 12px 15px;
    transition: border-color 0.3s ease;
}
.contact-form textarea{
    height: 150px;
}
.contact-form input:focus, .contact-form textarea:focus {
    border-color: var(--color-primary);
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
}


@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr; 
    }
    
    .hero-section h1 {
        font-size: 2rem;
    }
}